body{
    padding: 20px;    
}
#conteneur{
    height: 500px;
    width: 500px;
    border: solid 3px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-between ;
    padding: 1%;
} 
.element{
    
    width: 100px;
    height: 88px;
    border: solid 1px;
    
}

.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}